---
import animals from '../assets/books/animals.jpg'
import beauty from '../assets/books/beauty.webp'
import white from '../assets/books/white.webp'
import blood from '../assets/books/blood.webp'
import harry from '../assets/books/harry.jpg'
import axios from 'axios'

import { supabase } from '../lib/supabase.js';
import { BiExport } from "react-icons/bi";

// let books = [];
// let error = null;
// try {
//     const { data, error: fetchError } = await supabase
//         .from('data')
//         .select();
//     if (fetchError) {
//         throw fetchError;
//     }
//     if (Array.isArray(data)) {
//         books = data; // Use the data directly if it's an array
//     } else {
//         books = Array.isArray(data) ? data : [data]; // Convert to array if not iterable
//     }
// } catch (err) {
//     error = err.message;
// }
// books = JSON.parse(books[0]?.catalogue)
---

<main>
    <h1 class="text-center text-5xl text-gray-950 font-bold mt-5">Catálogo</h1>
    <div class="search-top flex justify-center mt-10">
        <form onsubmit="return false;" class="max-w-lg w-full">
            <label for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search" 
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50"
                    placeholder="Encuentra tus libros..."/>
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5 bg-[#404040] transition-all hover:bg-[#404040cc] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm px-4 py-2 cursor-pointer">Buscar</button>
            </div>
        </form>
    </div>
    <div class="main-wrapper mt-10">
        <div class="popular-books">
            <div class="book-cards"></div>
        </div>
    </div>
</main>

<script type="text/javascript" defer>
    const DATA_FIXED = [
    {
        "NombreLibro": "Al final mueren los dos",
        "Precio": 25,
        "Autor": "Adam Silvera",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/AL%20FINAL%20MUEREN%20LOS%20DOS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Damián",
        "Precio": 25,
        "Autor": "Alex Mirez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/DAMI%C3%81N.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Perfectos Mentirosos 1",
        "Precio": 25,
        "Autor": "Alex Mirez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/PERFECTOS%20MENTIROSOS%201.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Perfectos Mentirosos 2",
        "Precio": 25,
        "Autor": "Alex Mirez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/PERFECTOS%20MENTIROSOS%202.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Strange",
        "Precio": 25,
        "Autor": "Alex Mirez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/STRANGE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Matar un reino",
        "Precio": 25,
        "Autor": "Alexandra Christo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MATAR%20UN%20REINO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Jaque mate al amor",
        "Precio": 30,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/JAQUE%20MATE%20AL%20AMOR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La hipótesis del amor",
        "Precio": 30,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20HIP%C3%93TESIS%20DEL%20AMOR.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "La química del amor",
        "Precio": 30,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20QU%C3%8DMICA%20DEL%20AMOR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La teoría del amor",
        "Precio": 30,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20TEOR%C3%8DA%20DEL%20AMOR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "No es amor",
        "Precio": 35,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/NO%20ES%20AMOR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Novia",
        "Precio": 30,
        "Autor": "Ali Hazelwood",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/NOVIA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "23 otoños antes de ti",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/23%20OTO%C3%91OS%20ANTES%20DE%20TI.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "33 razones para volver a verte",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/33%20RAZONES%20PARA%20VOLVER%20A%20VERTE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El chico que dibujaba constelaciones",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20CHICO%20QUE%20DIBUJABA%20CONSTELACIONES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Las alas de Sophie",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LAS%20ALAS%20DE%20SOPHIE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Todo lo que nunca fuimos",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TODO%20LO%20QUE%20NUNCA%20FUIMOS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Todo lo que somos juntos",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TODO%20LO%20QUE%20SOMOS%20JUNTOS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Tú y yo, invencibles",
        "Precio": 30,
        "Autor": "Alice Kellen",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/T%C3%9A%20Y%20YO%2C%20INVENCIBLES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Heartstopper 1",
        "Precio": 30,
        "Autor": "Alice Oseman",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/HEARTSTOPPER%201.webp",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Heartstopper 2",
        "Precio": 30,
        "Autor": "Alice Oseman",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/HEARTSTOPPER%202.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una perfecta confusión",
        "Precio": 45,
        "Autor": "América Rodas ",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20PERFECTA%20CONFUSI%C3%93N.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Twisted Games",
        "Precio": 30,
        "Autor": "Ana Huang",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TWISTED%20GAMES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Twisted Hate",
        "Precio": 30,
        "Autor": "Ana Huang",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TWISTED%20HATE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Twisted Love",
        "Precio": 30,
        "Autor": "Ana Huang",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TWISTED%20LOVE.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Backstage",
        "Precio": 30,
        "Autor": "Angie Ocampo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/BACKSTAGE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El principito",
        "Precio": 20,
        "Autor": "Antoine de Saint-Exupéry",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20PRINCIPITO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "A través de la lluvia",
        "Precio": 25,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/A%20TRAVES%20DE%20LA%20LLUVIA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "A través de mi ventana",
        "Precio": 25,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/A%20TRAVES%20DE%20MI%20VENTANA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "A través de ti",
        "Precio": 25,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/A%20TR%C3%81VES%20DE%20TI.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Fleur",
        "Precio": 30,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/FLEUR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Heist",
        "Precio": 25,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/HEIST.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La revelación",
        "Precio": 30,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20REVELACI%C3%93N.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Mi amor de Wattpad",
        "Precio": 25,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MI%20AMOR%20DE%20WATTPAD.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Sigue mi voz",
        "Precio": 30,
        "Autor": "Ariana Godoy",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SIGUE%20MI%20VOZ.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Si me dices que no",
        "Precio": 25,
        "Autor": "Ava Draw",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SI%20ME%20DICES%20QUE%20NO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Estuche: Hush-Hush",
        "Precio": 100,
        "Autor": "Becca Fitzpatrick",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ESTUCHE%20HUSH%20HUSH.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Mi estúpido niñero",
        "Precio": 25,
        "Autor": "Blue Woods",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MI%20EST%C3%9APIDO%20NI%C3%91ERO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Elantris",
        "Precio": 30,
        "Autor": "Brandon Sanderson",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ELANTRIS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Un corazón valiente y roto",
        "Precio": 25,
        "Autor": "Brigid Kemmerer",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UN%20CORAZ%C3%93N%20VALIENTE%20Y%20ROTO.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una maldición oscura y solitaria",
        "Precio": 25,
        "Autor": "Brigid Kemmerer",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20MALDICI%C3%93N%20OSCURA%20Y%20SOLITARIA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El rey oscuro",
        "Precio": 30,
        "Autor": "C. S. Pacat",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20REY%20OSCURO.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Sí, sí es contigo",
        "Precio": 25,
        "Autor": "Calle y Poche",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SI%2C%20SI%20ES%20CONTIGO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La cadena de oro",
        "Precio": 20,
        "Autor": "Cassandra Clare",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20CADENA%20DE%20ORO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Los manuscritos rojos de la magia",
        "Precio": 20,
        "Autor": "Cassandra Clare",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LOS%20MANUSCRITOS%20ROJOS%20DE%20LA%20MAGIA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una luna sin miel",
        "Precio": 30,
        "Autor": "Christina Lauren",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20LUNA%20SIN%20MIEL.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Las memorias de Fenrai",
        "Precio": 20,
        "Autor": "Claudia Ramírez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LAS%20MEMORIAS%20DE%20FENRAI.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "A pesar de ti",
        "Precio": 30,
        "Autor": "Colleen Hoover",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/A%20PESAR%20DE%20TI.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Volver a empezar",
        "Precio": 30,
        "Autor": "Colleen Hoover",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/VOLVER%20A%20EMPEZAR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": 18,
        "Precio": 30,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/%2B18.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": 21,
        "Precio": 30,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/%2B21.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Cautivando a Ashton",
        "Precio": 25,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CAUTIVANDO%20A%20ASHTON.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Clover",
        "Precio": 30,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CLOVER.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Conquistando a Jeremy",
        "Precio": 25,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CONQUISTANDO%20A%20JEREMY.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Contradicciones",
        "Precio": 30,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CONTRADICCIONES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El deseo prohibido de Doug",
        "Precio": 30,
        "Autor": "Darlis Stefany",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20DESEO%20PROHIBIDO%20DE%20DOUG.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Crueles Instintos",
        "Precio": 45,
        "Autor": "Elena López",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CRUELES%20INSTINTOS.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "El arte de engañar al Karma",
        "Precio": 30,
        "Autor": "Elísabet Benavent",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20ARTE%20DE%20ENGA%C3%91AR%20AL%20KARMA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Todas esas cosas que te diré mañana",
        "Precio": 30,
        "Autor": "Elísabet Benavent",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TODAS%20ESAS%20COSAS%20QUE%20TE%20DIR%C3%89%20MA%C3%91ANA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La novela del verano",
        "Precio": 30,
        "Autor": "Emily Henry",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20NOVELA%20DEL%20VERANO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Fabricante de lágrimas",
        "Precio": 30,
        "Autor": "Erin Doom",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/FABRICANTE%20DE%20LAGRIMAS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Mi ex y otras maldiciones",
        "Precio": 30,
        "Autor": "Erin Sterling",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MI%20EX%20Y%20OTRAS%20MALDIICIONES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Lascivia I",
        "Precio": 30,
        "Autor": "Eva Muñoz",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LASCIVIA%20I.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Lascivia II",
        "Precio": 30,
        "Autor": "Eva Muñoz",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LASCIVIA%20II.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Lujuria I",
        "Precio": 30,
        "Autor": "Eva Muñoz",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LUJURIA%20I.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Lujuria II",
        "Precio": 40,
        "Autor": "Eva Muñoz",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LUJURIA%20II.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Boulevard",
        "Precio": 30,
        "Autor": "Flor M. Salvador",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/BOULEVARD.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Boulevard: Después de él",
        "Precio": 25,
        "Autor": "Flor M. Salvador",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/BOULEVARD_%20DESPU%C3%89S%20DE%20%C3%89L.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Silence",
        "Precio": 25,
        "Autor": "Flor M. Salvador",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SILENCE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Dune",
        "Precio": 25,
        "Autor": "Frank Herbert",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/DUNE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Los hijos de la Elite",
        "Precio": 25,
        "Autor": "Gabriela Melo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LOS%20HIJOS%20DE%20LA%20ELITE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Fuego y sangre",
        "Precio": 30,
        "Autor": "George R.R. Martin",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_009.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Bratva",
        "Precio": 30,
        "Autor": "Gleen Black",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/BRATVA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La orden",
        "Precio": 25,
        "Autor": "Gleen Black",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20ORDEN.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La reina",
        "Precio": 25,
        "Autor": "Gleen Black",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20REINA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Romper el hielo",
        "Precio": 35,
        "Autor": "Hannah Grace",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ROMPER%20EL%20HIELO.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "La llave de bronce",
        "Precio": 20,
        "Autor": "Holly Black",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20LLAVE%20DE%20BRONCE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La prueba de Hierro",
        "Precio": 20,
        "Autor": "Holly Black",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_011.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El arte de ser nosotros",
        "Precio": 30,
        "Autor": "Inma Rubiales",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20ARTE%20DE%20SER%20NOSOTROS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Hasta que nos quedemos sin estrellas",
        "Precio": 30,
        "Autor": "Inma Rubiales",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/HASTA%20QUE%20NOS%20QUEDEMOS%20SIN%20ESTRELLAS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Todos los lugares que mantuvimos en secreto",
        "Precio": 30,
        "Autor": "Inma Rubiales",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TODOS%20LOS%20LUGARES%20QUE%20MANTUVIMOS%20EN%20SECRETO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Animales fantásticos: los secretos de Dumbledore",
        "Precio": 25,
        "Autor": "J.K. Rowling",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LOS%20SECRETOS%20DE%20DUMBLEDORE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Corazón de fuego",
        "Precio": 30,
        "Autor": "Jasmín Martinez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CORAZ%C3%93N%20DE%20FUEGO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Corazón de hielo",
        "Precio": 30,
        "Autor": "Jasmín Martinez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CORAZ%C3%93N%20DE%20HIELO.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Corazón oscuro",
        "Precio": 30,
        "Autor": "Jasmín Martinez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CORAZ%C3%93N%20OSCURO.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Unpregnant",
        "Precio": 30,
        "Autor": "Jenni Hendriks",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNPREGNANT.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Antes de diciembre",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ANTES%20DE%20DICIEMBRE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Ciudades de humo ",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CIUDADES%20DE%20HUMO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Después de diciembre",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/DESPU%C3%89S%20DE%20DICIEMBRE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Estuche: Trilogía Fuego",
        "Precio": 100,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ESTUCHE%20TRILOG%C3%8DA%20FUEGO.png",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Etéreo",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_012.png",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Las luces de febrero",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LAS%20LUCES%20DE%20FEBRERO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Tres meses",
        "Precio": 30,
        "Autor": "Joana Marcus",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TRES%20MESES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El duque y yo",
        "Precio": 30,
        "Autor": "Julia Quinn",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20DUQUE%20Y%20YO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El perfume del rey",
        "Precio": 30,
        "Autor": "Karine Bernal Lobo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_013.png",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Las cadenas del rey",
        "Precio": 30,
        "Autor": "Karine Bernal Lobo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LAS%20CADENAS%20DEL%20REY.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "El Huésped",
        "Precio": 25,
        "Autor": "KendyMadness",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20HUESPED.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La selección: El principe y el guardián",
        "Precio": 25,
        "Autor": "Kiera Cass",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/EL%20PRINCIPE%20Y%20EL%20GUARDIAN.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La élite",
        "Precio": 20,
        "Autor": "Kiera Cass",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20ELITE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La selección: La reina y la favorita",
        "Precio": 20,
        "Autor": "Kiera Cass",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20REINA%20Y%20LA%20FAVORITA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La letra pequeña",
        "Precio": 30,
        "Autor": "Lauren Asher",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20LETRA%20PEQUE%C3%91A.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Powerless",
        "Precio": 45,
        "Autor": "Lauren Roberts",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/POWERLESS.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Reckless",
        "Precio": 45,
        "Autor": "Lauren Roberts",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/RECKLESS.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Estuche: Shadow and Bone",
        "Precio": 50,
        "Autor": "Leigh Bardugo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SHADOW%20AND%20BONE.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Estuche: Six of crows",
        "Precio": 50,
        "Autor": "Leigh Bardugo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SIX%20OF%20CROWS.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Seis de cuervos",
        "Precio": 30,
        "Autor": "Leigh Bardugo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/SEIS%20DE%20CUERVOS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Cuando no queden más estrellas que contar",
        "Precio": 30,
        "Autor": "María Martínez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CUANDO%20NO%20QUEDEN%20M%C3%81S%20ESTRELLAS%20QUE%20CONTAR.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Tú, yo y un tal vez",
        "Precio": 30,
        "Autor": "María Martínez",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TU%20YO%20Y%20UN%20TAL%20VEZ.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "De Lukov, con amor ",
        "Precio": 35,
        "Autor": "Mariana Zapata",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/DE%20LUKOV%20CON%20AMOR.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Heartless",
        "Precio": 35,
        "Autor": "Marissa Meyer",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/HEARTLESS.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Estuche: Pídeme lo que quieras",
        "Precio": 100,
        "Autor": "Megan Maxwell",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ESTUCHE%20P%C3%8DDEME%20LO%20QUE%20QUIERAS.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Culpa mía",
        "Precio": 30,
        "Autor": "Mercedes Ron",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CULPA%20M%C3%8DA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Culpa nuestra",
        "Precio": 30,
        "Autor": "Mercedes Ron",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CULPA%20NUESTRA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Culpa tuya",
        "Precio": 30,
        "Autor": "Mercedes Ron",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CULPA%20TUYA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Ébano",
        "Precio": 30,
        "Autor": "Mercedes Ron",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/%C3%89BANO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Marfil",
        "Precio": 30,
        "Autor": "Mercedes Ron",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MARFIL.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Arlette",
        "Precio": 30,
        "Autor": "Oscary Arroyo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ARLETTE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Tanner Reed",
        "Precio": 30,
        "Autor": "Oscary Arroyo",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_017.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Punk 57",
        "Precio": 30,
        "Autor": "Penelope Douglas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/PUNK%2057.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "A dos metros de ti",
        "Precio": 25,
        "Autor": "Rachael Lippincott",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/A%20DOS%20METROS%20DE%20TI.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Todo este tiempo",
        "Precio": 25,
        "Autor": "Rachael Lippincott",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/TODO%20ESTE%20TIEMPO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Alas de Hierro. Edición Coleccionista",
        "Precio": 50,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DE%20HIERRO%20COLECCIONISTA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Alas de Ónix. Pasta blanda",
        "Precio": 35,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DE%20%C3%93NIX.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Alas de Ónix. Pasta dura",
        "Precio": 45,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DE%20%C3%93NIX.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Alas de Sangre. Edición Coleccionista",
        "Precio": 50,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DEE%20SANGRE%20COLECCIONISTA_.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Alas de Sangre. Pasta blanda",
        "Precio": 35,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DE%20SANGRE.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Alas de Sangre. Pasta dura",
        "Precio": 40,
        "Autor": "Rebecca Yarros",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ALAS%20DE%20SANGRE.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Las pruebas de Apolo",
        "Precio": 30,
        "Autor": "Rick Riordan",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LAS%20PRUEBAS%20DE%20APOLO%201%20EL%20ORACULO%20OSCURO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Magos y semidioses",
        "Precio": 20,
        "Autor": "Rick Riordan",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/MAGOS%20Y%20SEMIDIOSES.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Esposa de mi jefe",
        "Precio": 30,
        "Autor": "Roxana Aguirre",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ESPOSA%20DE%20MI%20JEFE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Cariño, cuánto te odio",
        "Precio": 35,
        "Autor": "Sally Thorne",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CARI%C3%91O%20CUANTO%20TE%20ODIO.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Ciudad de Medialuna 1",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CIUDAD%20DE%20MEDIALUNA%201.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Ciudad de Medialuna 2",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CIUDAD%20DE%20MEDIALUNA%202.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de alas y ruina",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20ALAS%20Y%20RUINA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de hielo y estrellas",
        "Precio": 25,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ANTIGUA%20-%20UNA%20CORTE%20DE%20HIELO%20Y%20ESTRELLAS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de hielo y estrellas",
        "Precio": 25,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20HIELO%20Y%20ESTRELLAS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de llamas plateadas",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20LLAMAS%20PLATEADAS.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de niebla y furia",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20NIEBLA%20Y%20FURIA.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de niebla y furia",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20NIEBLA%20Y%20FURIA.webp",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una corte de rosas y espinas",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20%20CORTE%20DE%20ROSAS%20Y%20ESPINAS.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Una corte de rosas y espinas",
        "Precio": 30,
        "Autor": "Sarah J. Maas",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20CORTE%20DE%20ROSAS%20Y%20ESPINAS.png",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Asesino de brujas 2",
        "Precio": 30,
        "Autor": "Shelby Mahurin",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ASESINO%20DE%20BRUJAS%202.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Asesino de brujas 3",
        "Precio": 30,
        "Autor": "Shelby Mahurin",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ASESINO%20DE%20BRUJAS%203.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Caraval",
        "Precio": 30,
        "Autor": "Stephanie Garber",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/CARAVAL.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Finale",
        "Precio": 30,
        "Autor": "Stephanie Garber",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/FINALE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Legendary",
        "Precio": 30,
        "Autor": "Stephanie Garber",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LEGENDARY.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La canción del lobo",
        "Precio": 35,
        "Autor": "T. J. Klune ",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20CANCI%C3%93N%20DEL%20LOBO.jpg",
        "Destacado": "SI"
    },
    {
        "NombreLibro": "Destrózame",
        "Precio": 30,
        "Autor": "Tahereh Mafi",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/DESTR%C3%93ZAME.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Los siete maridos de Evelyn Hugo",
        "Precio": 30,
        "Autor": "Taylor Jenkins Reid",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LOS%20SIETES%20MARIDOS%20DE%20EVELYN%20HUGO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Anhelo",
        "Precio": 30,
        "Autor": "Tracy Wolff",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/ANHELO.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Furia",
        "Precio": 30,
        "Autor": "Tracy Wolff",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/FURIA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "La vida invisible de Addie LaRue",
        "Precio": 30,
        "Autor": "V.E. Schwab",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/LA%20VIDA%20INVISIBLE%20DE%20ADDIE%20LARUE.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Una obsesión perversa",
        "Precio": 30,
        "Autor": "V.E. Schwab",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/UNA%20OBSESI%C3%93N%20PERVERSA.jpg",
        "Destacado": "NO"
    },
    {
        "NombreLibro": "Penumbra",
        "Precio": 25,
        "Autor": "Yoshíe M. C.",
        "Imagen": "https://github.com/bellaciaodowhile/upload-deadly-song-library/blob/main/images/File_021.png",
        "Destacado": "NO"
    }
];

const input = document.querySelector("#default-search");
const result = document.querySelector('.book-cards');

window.onscroll = function() {scrollFunction()};
console.log('sd')
// function scrollFunction() {
//   if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
//     document.querySelector(".search-top").style.background = "red";
//   } else {
//     document.querySelector(".search-top").style.background = "blue";
//   }
// }
function removeAccents(str) {
    return String(str)
        .normalize('NFD') // Normalize to "decomposed" form
        .replace(/[\u0300-\u036f]/g, ''); // Remove diacritics
}


async function DOLLARS() {
    return {
        bcv: await axios.get('https://ve.dolarapi.com/v1/dolares/oficial'),
        paralelo: await axios.get('https://ve.dolarapi.com/v1/dolares/paralelo')
    }
}

(async () => {
    try {
        const response = await DOLLARS();
        const bcv = response.bcv.data
        const paralelo = response.paralelo.data
        console.log({
            // bcv, paralelo
        });
        DATA_FIXED.forEach((item) => {
            item.BCV = ((item.Precio * paralelo.promedio) / bcv.promedio).toFixed(2)
        })

        data(DATA_FIXED, '')

    } catch (error) {
        console.error('Error fetching data:', error);
    }
})();


const listBooks = DATA_FIXED || [];

let debounceTimer;

function data(items, text) {
    // Clear the result container
    text = removeAccents(text)
    result.innerHTML = '';
    console.log(result);

    // Filter books based on the search text
    const filteredBooks = items.filter((book) => {
        return (
            String(removeAccents(book.NombreLibro)).toLowerCase().includes(text.trim()) ||
            String(removeAccents(book.Autor)).toLowerCase().includes(text.trim())
        );
    });

    // If there are filtered books, create the HTML
    if (filteredBooks.length > 0) {
        let html = ''; // Initialize an empty string to build the HTML

        filteredBooks.forEach(book => {
            const bookImage = book.Imagen.split('/')
            const image = bookImage[bookImage.length - 1]
            const name = String(book.NombreLibro).split(' ').map(x => removeAccents(x).toLowerCase()).join('-');
            console.log(name)
            html += `
            <div class="book-card" style="margin-top: 40px; background-color: #fff; height: 100%; box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1); border-radius: 4px; display: flex; flex-direction: column; cursor: pointer; padding: 0 0 20px 20px; color: #8b939c;">
                <div class="content-wrapper" style="display: flex; border-bottom: 1px solid #ebedef; position: relative;">
                    <img src="./images/${image}" alt="" class="book-card-img" style="width: 160px; margin-top: -35px; border-radius: 2px; box-shadow: 0px 1px 7px 2px #c7c9d3; border-bottom: 1px solid #dcddde; object-fit: cover; margin-bottom: 20px; transition: 0.3s ease; height: fit-content;">
                    <div class="card-content" style="color: #3d4954; padding: 30px; overflow: hidden; position: relative;">
                        <div class="book-name" style="overflow: hidden; color: #3d4954; font-size: 2rem; font-weight: bold;">${book.NombreLibro}</div>
                        <div class="book-by" style="color: #8b939c; margin-top: 4px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; font-size: 1.25rem;">${book.Autor}</div>
                        <div class="book-sum card-sum" style="line-height: 1.6em; font-size: 1.25rem; font-weight: bold; color: #404040;">${book.BCV} BCV</div>
                        <div class="likes" style="text-transform: uppercase; font-size: 1rem;">
                            pago en divisas&nbsp;<b>$<span>${book.Precio}</span></b>
                        </div>
                        <div style="display: flex; align-items: center; gap: 5px;">
                            <!--<a target="_blank" href="https://api.whatsapp.com/send?phone=+584241305636&text=¡Hola! Me interesa el libro ${book.NombreLibro}. ¿Sigue disponible?" style="background-color: #404040; margin-top: 0.5rem; display: inline-block; padding: 10px 2.5rem; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
                                comprar
                            </a>-->
                            <a href="javascript:void(0);" style="background-color: #404040; margin-top: 0.5rem; display: inline-flex; gap: 5px; padding: 10px 15px; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
                                <span>Añadir</span>
                                <img src="https://www.svgrepo.com/show/493949/cart-lines-1.svg" width="20" style="filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(107%) contrast(101%);" />
                            </a>
                            <a href="/books/${name}" style="background-color: #404040; margin-top: 0.5rem; display: inline-block; padding: 10px; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
                                <img src="https://www.svgrepo.com/show/362679/export-bold.svg" width="20" style="filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(107%) contrast(101%);" />
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>`;
        });

        // Update the innerHTML once
        result.innerHTML = html;

        // Update styles after rendering new content
        updateStyles();
    } else {
        result.innerHTML = `<div class="flex flex-col   "> <span>¿No está disponible? ¡Te lo conseguimos! 📚</span> <a class="text-center" target="_blank" href="https://api.whatsapp.com/send?phone=+584241305636&text=¡Hola! Estoy buscando un libro y no está disponible en el catálogo." style="background-color: #404040; margin-top: 0.5rem; display: inline-block; padding: 10px 2.5rem; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
            Consultar
        </a></div> `
    }
}

// Debounce function
function debounce(func, delay) {
    return function(...args) {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => func.apply(this, args), delay);
    };
}

// Update styles function
function updateStyles() {
    const contentWrapper = [...document.querySelectorAll('.content-wrapper')];
    if (window.innerWidth <= 520) {
        contentWrapper.forEach(el => {
            el.style.fontSize = '14px';
            el.style.display = 'flex';
            el.style.flexDirection = 'column';
            el.style.alignItems = 'center';
            el.querySelector('.book-name').style.fontSize = '25px';
        });
    } else {
        contentWrapper.forEach(el => {
            el.style.fontSize = '14px';
            el.style.display = 'flex';
            el.style.flexDirection = 'row';
            el.style.alignItems = 'start';
            el.querySelector('.book-name').style.fontSize = '30px';
        });
    }
}

input.oninput = debounce((e) => {
    const text = e.target.value.toLowerCase();
    data(listBooks, text);
}, 300);



</script>

<style scoped>
    :root {
        --body-bg-color: #e5f4f9;
        --body-color-light: #8b939c;
        --body-font: "Roboto", sans-serif;
        --page-bg-color: #f2f5f7;
        --body-color: #3d4954;
        --border-color: #b8bec3;
        --placeholder: #ccd0d2;
    }

    * {
        outline: none;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    .likes,
    .year-book,
    .author,
    .main-menu,
    .profile-menu,
    .profile,
    .browse-category,
    .browse,
    .header {
        display: flex;
        align-items: center;
    }

    .book-store {
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        height: 100vh;
        background-color: var(--page-bg-color);
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0px 2px 50px 10px rgba(0, 0, 0, 0.21);
    }

    .header {
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        padding: 0 30px;
        font-size: 14px;
        font-weight: 500;
        color: var(--body-color-light);
        justify-content: space-between;
        flex-shrink: 0;
    }

    .search-bar {
        position: relative;
    }

    .search-bar input {
        height: 100%;
        width: 100%;
        display: block;
        background-color: transparent;
        border: none;
        font-weight: 600;
        padding: 0 10px 0 40px;
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: 15px 50%;
        color: var(--body-color);
        font-family: var(--body-font);
    }

    .search-bar input::placeholder {
        color: var(--placeholder);
    }

    .browse-category {
        border-right: 1px solid var(--border-color);
        white-space: nowrap;
    }

    .browse-category svg {
        width: 16px;
        margin: 2px 10px 0 8px;
    }

    .header-title {
        font-size: 16px;
        font-weight: 400;
        margin-right: 120px;
    }

    .header-title span {
        font-weight: 500;
        color: var(--body-color);
    }

    .user-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .user-profile {
        position: relative;
        cursor: pointer;
        flex-shrink: 0;
    }

    .user-profile:before {
        content: "";
        position: absolute;
        background-color: #f86d72;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 2px solid var(--theme-bg-color);
        right: 12px;
        top: -3px;
        border: 2px solid #fff;
    }

    .profile {
        flex-shrink: 0;
    }

    .profile-menu {
        border-left: 1px solid var(--border-color);
    }

    .profile svg {
        width: 16px;
        margin: 0 8px 0 15px;
        flex-shrink: 0;
    }

    .book-slide {
        width: 100%;
    }

    .book {
        background: #fff;
    }

    .book-cell {
        position: relative;
        display: flex;
        padding: 25px;
        width: 40%;
        height: 250px;
        margin-right: 1px;
    }

    .book-cell:nth-child(1) {
        background-color: #fbadaf;
    }

    .book-cell:nth-child(2) {
        background-color: #a4e0eb;
    }

    .book-cell:nth-child(3) {
        background-color: #edb9d6;
    }

    .book-cell:nth-child(4) {
        background-color: #fdca95;
    }

    .book-cell:nth-child(5) {
        background-color: #cbb5e2;
    }

    .book-photo {
        width: 180px;
        flex-shrink: 0;
        bottom: -35px;
        left: 35px;
        border-radius: 2px;
        box-shadow: -2px 6px 19px 0px #7f818e;
        transition: 0.3s ease;
    }

    .book-photo:hover {
        transform: scale(1.03);
    }

    .book-img {
        flex-shrink: 0;
    }

    .book-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-title {
        color: #ffffff;
        font-weight: 600;
    }

    .book-author {
        margin-top: 3px;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .book-content {
        padding: 0 20px;
        color: #ffffff;
        overflow: hidden;
    }

    fieldset,
    label {
        margin: 0;
        padding: 0;
        display: inline-block;
        vertical-align: middle;
    }

    h1 {
        margin: 10px;
    }

    .rating {
        border: none;
    }

    .rating>input {
        display: none;
    }

    .rating>label:before {
        margin-right: 5px;
        margin-top: 10px;
        font-size: 0.9em;
        font-family: FontAwesome;
        display: inline-block;
        content: "";
    }

    .rating>label {
        color: #fff;
        float: right;
    }

    .rating>input:checked~label,
    .rating:not(:checked)>label:hover,
    .rating:not(:checked)>label:hover~label {
        color: #d85d61;
    }

    .rating>input:checked+label:hover,
    .rating>input:checked~label:hover,
    .rating>label:hover~input:checked~label,
    .rating>input:checked~label:hover~label {
        color: #d85d61;
    }

    .blue>input:checked~label,
    .blue:not(:checked)>label:hover,
    .blue:not(:checked)>label:hover~label {
        color: #458997;
    }

    .blue>input:checked+label:hover,
    .blue>input:checked~label:hover,
    .blue>label:hover~input:checked~label,
    .blue>input:checked~label:hover~label {
        color: #458997;
    }

    .purple>input:checked~label,
    .purple:not(:checked)>label:hover,
    .purple:not(:checked)>label:hover~label {
        color: #a76287;
    }

    .purple>input:checked+label:hover,
    .purple>input:checked~label:hover,
    .purple>label:hover~input:checked~label,
    .purple>input:checked~label:hover~label {
        color: #a76287;
    }

    .yellow>input:checked~label,
    .yellow:not(:checked)>label:hover,
    .yellow:not(:checked)>label:hover~label {
        color: #ffad58;
    }

    .yellow>input:checked+label:hover,
    .yellow>input:checked~label:hover,
    .yellow>label:hover~input:checked~label,
    .yellow>input:checked~label:hover~label {
        color: #ffad58;
    }

    .dark-purp>input:checked~label,
    .dark-purp:not(:checked)>label:hover,
    .dark-purp:not(:checked)>label:hover~label {
        color: #905587;
    }

    .dark-purp>input:checked+label:hover,
    .dark-purp>input:checked~label:hover,
    .dark-purp>label:hover~input:checked~label,
    .dark-purp>input:checked~label:hover~label {
        color: #905587;
    }

    .book-voters {
        color: #fff;
        vertical-align: sub;
        font-size: 13px;
        margin-left: 7px;
        white-space: nowrap;
        margin-top: 7px;
    }

    .book-sum {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .book-see {
        margin-top: 25px;
        text-align: center;
        background-color: #fff;
        color: #fbadaf;
        font-weight: 600;
        padding: 8px;
        font-size: 14px;
        width: 160px;
        border-radius: 20px;
    }

    .book-see:hover {
        color: #ff6e72;
    }

    .book-see.book-blue {
        color: #a4e0eb;
    }

    .book-see.book-blue:hover {
        color: #22cdec;
    }

    .book-see.book-pink {
        color: #edb9d6;
    }

    .book-see.book-pink:hover {
        color: #ff6dbe;
    }

    .book-see.book-yellow {
        color: #fdca95;
    }

    .book-see.book-yellow:hover {
        color: #fb9124;
    }

    .book-see.book-purple {
        color: #cbb5e2;
    }

    .book-see.book-purple:hover {
        color: #a764ec;
    }

    .main-wrapper {
        width: 100%;
        display: flex;
        flex-grow: 1;
        overflow: hidden;
    }

    .books-of {
        width: 320px;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        flex-shrink: 0;
    }

    .popular-books {
        flex-grow: 1;
    }

    .genre {
        font-weight: 500;
        font-size: 15px;
    }

    .main-menu {
        white-space: nowrap;
        padding-bottom: 15px;
        border-bottom: 1px solid #dcddde;
        position: sticky;
        top: 0;
        right: 0;
        background-color: var(--page-bg-color);
        z-index: 2;
    }

    .book-types {
        margin-left: auto;
    }

    .book-types a {
        text-decoration: none;
        color: var(--body-color);
        font-size: 14px;
    }

    .book-type+.book-type {
        margin-left: 20px;
    }

    .book-type {
        position: relative;
        transition: 0.2s;
    }

    .book-type.active,
    .book-type:hover {
        -webkit-text-stroke: 0.3px;
    }

    .book-type.active:before,
    .book-type:hover:before {
        content: "";
        position: absolute;
        width: 28px;
        height: 2px;
        bottom: -17px;
        right: 15px;
        background-color: #67d4ea;
        box-shadow: 0px -1px 5px 0px #67d4ea;
    }

    .book-type:nth-child(2):before {
        right: 12px;
    }

    .book-type:nth-child(3):before {
        right: 8px;
    }

    .book-type:nth-child(4):before {
        right: 6px;
    }

    .book-type:nth-child(5):before {
        right: 20px;
    }

    .week {
        padding: 0 30px;
    }

    .author+.author {
        margin-top: 20px;
    }

    .author-name {
        font-size: 14px;
    }

    .author:last-child {
        margin-bottom: 40px;
    }

    .author-title {
        padding: 0 0 20px;
        font-weight: 500;
        font-size: 15px;
    }

    .author-img {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 16px;
        object-fit: cover;
        object-position: center;
    }

    .year-book-img {
        width: 45px;
        margin-right: 16px;
    }

    .year-book-name {
        margin-bottom: 15px;
    }

    .year-book-author {
        font-size: 13px;
    }

    .year-book+.year-book {
        margin-top: 20px;
    }

    .year-book-content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .overlay {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 340px;
        flex-shrink: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f2f5f7 65%, #f2f5f7 100%);
        height: 60px;
        margin-left: -35px;
    }

    .book-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        padding-top: 40px;
        position: relative;
    }

    .book-card {
        background-color: #fff;
        height: 100%;
        box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0 0 20px 20px;
        color: var(--body-color-light);
    }

    .book-card-img {
        width: 160px;
        margin-top: -35px;
        border-radius: 2px;
        box-shadow: 0px 1px 7px 2px #c7c9d3;
        border-bottom: 1px solid #dcddde;
        object-fit: cover;
        margin-bottom: 20px;
        transition: 0.3s ease;
        height: fit-content;
    }

    .book-card-img:hover {
        transform: scale(1.04);
    }

    .card-content {
        color: var(--body-color);
        padding: 30px;
        overflow: hidden;
        position: relative;
    }

    .book-name {
        /* text-overflow: ellipsis; */
        overflow: hidden;
        /* white-space: nowrap; */
    }

    .book-by {
        color: var(--body-color-light);
        margin-top: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .book-rate>label {
        color: #cccccc;
    }

    .rate {
        display: inline-block;
        white-space: nowrap;
    }

    .book-rate>input:checked~label,
    .book-rate:not(:checked)>label:hover,
    .book-rate:not(:checked)>label:hover~label {
        color: #ff9700;
    }

    .book-rate>input:checked+label:hover,
    .book-rate>input:checked~label:hover,
    .book-rate>label:hover~input:checked~label,
    .book-rate>input:checked~label:hover~label {
        color: #ff9700;
    }

    .card-vote {
        color: var(--body-color-light);
    }

    .card-sum {
        line-height: 1.6em;
        -webkit-line-clamp: 4;
    }

    .content-wrapper {
        display: flex;
        border-bottom: 1px solid #ebedef;
        position: relative;
    }

    .like-profile {
        margin-top: 8px;
    }

    .like-profile+.like-profile {
        margin-left: -5px;
    }

    .like-img {
        border-radius: 50%;
        width: 28px;
        object-fit: cover;
        border: 2px solid #fff;
    }

    .like-name {
        font-size: 13px;
        margin-left: 15px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .like-name span {
        font-weight: 600;
    }

    @media (max-width: 1103px) {
        .book-cell {
            width: 60%;
        }
    }

    @media (max-width: 765px) {
        .book-cell {
            width: 80%;
        }
    }

    @media (max-width: 575px) {
        .book-cell {
            width: 100%;
        }
    }

    @media (max-width: 458px) {
        .book-photo {
            width: 180px;
        }

        .book-voters {
            display: none;
        }
    }

    @media (max-width: 420px) {
        .book-see {
            width: 120px;
            font-size: 13px;
        }

        .book-photo {
            width: 130px;
        }

        .main-wrapper {
            margin-top: 50px;
        }
    }

    @media (max-width: 360px) {
        .rating>label:before {
            font-size: 0.8em;
        }
    }

    @media (max-width: 1220px) {
        .card-vote {
            display: none;
        }
    }

    @media (max-width: 1085px) {
        .book-rate>label {
            font-size: 0.7em;
        }
    }

    @media (max-width: 1045px) {
        .books-of {
            display: none;
        }
    }

    @media (max-width: 725px) {

        .browse-category,
        .search-bar {
            display: none;
        }

        .header-title {
            margin-right: auto;
        }

        .book-cards {
            grid-template-columns: 1fr;
        }

        .book-types {
            display: none;
        }
    }

    @media (max-width: 372px) {
        .card-content {
            padding: 20px;
        }
    }
</style>