---
import type { GetStaticPaths } from "astro";
import DATA_BOOKS from "../../helpers/DATA_BOOKS.js";
import { removeAccents } from '../../helpers/removeAccents.js';
import LayoutBook from "../../layouts/LayoutBook.astro";
console.log(DATA_BOOKS)
import '../../styles/global.css';
import Layout from "../../layouts/Layout.astro";
import axios from "axios";
import { BiChevronLeft  } from "react-icons/bi";

// Define the getStaticPaths function
export const getStaticPaths: GetStaticPaths = async () => {
return DATA_BOOKS.map(book => ({
params: { book: String(book.NombreLibro).split(' ').map(x => removeAccents(x).toLowerCase()).join('-') },
}));
};
// Get the slug from the URL
const { book } = Astro.params;

// Find the book that matches the slug
const data = DATA_BOOKS.find(b => String(b.NombreLibro).split(' ').map(x => removeAccents(x).toLowerCase()).join('-')
=== book);
const bookImage = data.Imagen.split('/')
const image = bookImage[bookImage.length - 1]
if (!book) {
throw new Error('Book not found');
}
console.log(data)

async function DOLLARS() {
    return {
        bcv: await axios.get('https://ve.dolarapi.com/v1/dolares/oficial'),
        paralelo: await axios.get('https://ve.dolarapi.com/v1/dolares/paralelo')
    }
}
async function DATA() {
    try {
        const response = await DOLLARS();
        const bcv = response.bcv.data
        const paralelo = response.paralelo.data

        data.BCV = ((data.Precio * paralelo.promedio) / bcv.promedio).toFixed(2)

        console.log({
         bcv, paralelo
        });
        return true;

    } catch (error) {
        console.error('Error fetching data:', error);
    }
}
DATA();
const isLoading = await DATA();
---

<Layout title={data?.NombreLibro}>
    <a class="mb-5 inline-flex items-center" href="/books">
        <BiChevronLeft className="text-3xl text-[#404040]" /> <span class="block text-[#404040] font-semibold uppercase">Volver</span>
    </a>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <div>
            <img src={`/images/${image}`} alt={data?.NombreLibro} class="shadow-2xl">
        </div>
        <div class="sticky top-0">
            <h2 class="text-xl md:text-2xl uppercase">- {data?.Autor}</h2>
            <h1 class="text-3xl md:text-5xl text-gray-950 font-bold mt-10">{data?.NombreLibro}</h1>
            <div class="mt-5">
                <div class="text-[#404040] text-4xl md:text-7xl font-bold">{isLoading ? data?.BCV : '...'} BCV</div>
                <div class="uppercase text-2xl text-[#404040] mt-2">Pago en divisas <span class="font-bold">${data?.Precio}</span></div>
            </div>
            <a target="_blank" class="w-full md:w-fit px-10 text-center p-3 hover:-translate-y-1 mt-5" href="https://api.whatsapp.com/send?phone=+584241305636&text=¡Hola! Me interesa el libro ${book.NombreLibro}. ¿Sigue disponible?" style="background-color: #404040; display: inline-block; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
                comprar
            </a>
            <a target="_blank" class="w-full md:w-fit px-10 text-center p-3 hover:-translate-y-1 mt-5 flex items-center gap-2 justify-center" href={`whatsapp://send?text=Aquí puedes verlo, ${data?.NombreLibro}`} data-action="share/whatsapp/share" style="background-color: #404040; color: white; font-weight: 600; text-transform: uppercase; cursor: pointer; transition: all 0.3s; border-radius: 9999px;">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256"
                style="fill:#FFFFFF;">
                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,2c-12.682,0 -23,10.318 -23,23c0,3.96 1.023,7.854 2.963,11.29l-2.926,10.44c-0.096,0.343 -0.003,0.711 0.245,0.966c0.191,0.197 0.451,0.304 0.718,0.304c0.08,0 0.161,-0.01 0.24,-0.029l10.896,-2.699c3.327,1.786 7.074,2.728 10.864,2.728c12.682,0 23,-10.318 23,-23c0,-12.682 -10.318,-23 -23,-23zM36.57,33.116c-0.492,1.362 -2.852,2.605 -3.986,2.772c-1.018,0.149 -2.306,0.213 -3.72,-0.231c-0.857,-0.27 -1.957,-0.628 -3.366,-1.229c-5.923,-2.526 -9.791,-8.415 -10.087,-8.804c-0.295,-0.389 -2.411,-3.161 -2.411,-6.03c0,-2.869 1.525,-4.28 2.067,-4.864c0.542,-0.584 1.181,-0.73 1.575,-0.73c0.394,0 0.787,0.005 1.132,0.021c0.363,0.018 0.85,-0.137 1.329,1.001c0.492,1.168 1.673,4.037 1.819,4.33c0.148,0.292 0.246,0.633 0.05,1.022c-0.196,0.389 -0.294,0.632 -0.59,0.973c-0.296,0.341 -0.62,0.76 -0.886,1.022c-0.296,0.291 -0.603,0.606 -0.259,1.19c0.344,0.584 1.529,2.493 3.285,4.039c2.255,1.986 4.158,2.602 4.748,2.894c0.59,0.292 0.935,0.243 1.279,-0.146c0.344,-0.39 1.476,-1.703 1.869,-2.286c0.393,-0.583 0.787,-0.487 1.329,-0.292c0.542,0.194 3.445,1.604 4.035,1.896c0.59,0.292 0.984,0.438 1.132,0.681c0.148,0.242 0.148,1.41 -0.344,2.771z"></path></g></g>
                </svg> <span class="block">Compartir</span>
            </a>
        </div>
       
    </div>


</Layout>