---
import Cart from "../components/Cart.astro"
import Sidebar from "../components/Sidebar.astro"
const { title, image } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Librer칤a Canto Mortal | {title}</title>
		<meta property="og:image" content={`http://libreriacantomortal.vercel.app/images/${image}`}/>
		<meta property="og:title" content=`Librer칤a Canto Mortal | ${title}`>
		<meta property="og:site_name" content=`Librer칤a Canto Mortal | ${title}`>
		<meta property="og:locale" content="en">
		<meta property="og:type" content="website">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content=`Librer칤a Canto Mortal | ${title}`>
		<meta name="twitter:image" content={`http://libreriacantomortal.vercel.app/images/${image}`}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js" integrity="sha512-2A1+/TAny5loNGk3RBbk11FwoKXYOMfAK6R7r4CpQH7Luz4pezqEGcfphoNzB7SM4dixUoJsKkBsB6kg+dNE2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

	</head>
	<body>
		<span class="absolute w-[60%] bg-[#EFEDE2] h-screen top-0 right-0"></span>

		<main class="flex relative">
			<Sidebar />
			<div class="content pl-[20px] sm:pl-[40px] md:pl-[190px] md:py-[30px] pr-[20px] lg:pr-[50px] relative m-auto pb-10 md:pb-10 pt-10">
				<slot />
			</div>
			<a href="https://api.whatsapp.com/send?phone=+584241305636&text=춰Hola! Vengo de la p치gina web. Me gustar칤a obtener m치s informaci칩n 游닄" target="_blank" class="fixed bottom-20 md:bottom-10 right-5 lg:right-10 z-20 bg-white rounded-full">
				<img src="https://cdn-icons-png.freepik.com/256/2496/2496112.png?semt=ais_hybrid" class="rounded-full w-[50px] lg:w-[70px]" alt="Logo WhatsApp">
			</a>
			<Cart />
		</main>
		<footer class="md:hidden mt-20 bg-[#404040] p-16 pb-32 w-full mx-auto relative">
			<h4 class="text-xl font-bold text-[#eee]">Librer칤a Canto Mortal</h4>
			<p class="text-[#ccccccea] mt-5">Tenemos m치s de cuatro a침os presentes en el pa칤s, cada libro que ofrecemos es una invitaci칩n a un mundo nuevo, una nueva aventura y otra oportunidad para enamorarte.</p>
			<h4 class="text-md mt-7 font-semibold text-[#eee]">Cont치ctanos</h4>
			<div class="flex flex-col gap-4 text-2xl text-[#eee] mt-5">
				<a href="https://www.instagram.com/libreriacantomortal/" class="transition-all flex items-center gap-2" target="_blank">
					<i class="fab fa-instagram"></i>
					<span class="text-sm -mt-1 inline-flex">@libreriacantomortal</span>
				</a>
				<a href="https://www.tiktok.com/@libreriacantomortal" class="transition-all flex items-center gap-2" target="_blank">
					<i class="fab fa-tiktok"></i>
					<span class="text-sm -mt-1 inline-flex">@libreriacantomortal</span>
				</a>
			</div>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
		<script type="text/javascript">
			 const Accordion = {
	settings: {
		// Expand the first item by default
		first_expanded: false,
		// Allow items to be toggled independently
		toggle: true
	},

	openAccordion: function(toggle, content) {
		if (content.children.length) {
			toggle.classList.add("is-open");
			let final_height = Math.floor(content.children[0].offsetHeight);
			content.style.height = final_height + "px";
		}
	},

	closeAccordion: function(toggle, content) {
		toggle.classList.remove("is-open");
		content.style.height = 0;
	},

	init: function(el) {
		const _this = this;

		// Override default settings with classes
		let is_first_expanded = _this.settings.first_expanded;
		if (el.classList.contains("is-first-expanded")) is_first_expanded = true;
		let is_toggle = _this.settings.toggle;
		if (el.classList.contains("is-toggle")) is_toggle = true;

		// Loop through the accordion's sections and set up the click behavior
		const sections = el.getElementsByClassName("accordion");
		const all_toggles = el.getElementsByClassName("accordion-head");
		const all_contents = el.getElementsByClassName("accordion-body");
		for (let i = 0; i < sections.length; i++) {
			const section = sections[i];
			const toggle = all_toggles[i];
			const content = all_contents[i];

			// Click behavior
			toggle.addEventListener("click", function(e) {
				if (!is_toggle) {
					// Hide all content areas first
					for (let a = 0; a < all_contents.length; a++) {
						_this.closeAccordion(all_toggles[a], all_contents[a]);
					}

					// Expand the clicked item
					_this.openAccordion(toggle, content);
				} else {
					// Toggle the clicked item
					if (toggle.classList.contains("is-open")) {
						_this.closeAccordion(toggle, content);
					} else {
						_this.openAccordion(toggle, content);
					}
				}
			});

			// // Expand the first item
			// if (i === 2) {
			// 	_this.openAccordion(toggle, content);
			// }
		}
	}
};

(function() {
	// Initiate all instances on the page
	const accordions = document.getElementsByClassName("accordions");
	for (let i = 0; i < accordions.length; i++) {
		Accordion.init(accordions[i]);
	}
})();
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Poppins", sans-serif;
		overflow-x: hidden;
		background: #FBFBF4;
	}
</style>
